@media screen and (max-width:1400px) {
    .hero-main {
        width: 430px;
    }
    .hero-img {
        width: 548px;
    }
}
@media screen and (max-width:1300px) {
    .marketing-box {
        width: 351px;
    }
    .marketing {
        width: 1060px;
    }
    .about {
        width: 500px;
    }
    .services-h1 {
        width: 995px;
    }
    .services {
        width: 100%;
    }
}
@media screen and (max-width:1250px) {
    .company {
        width: 900px;
    }
}
@media screen and (max-width:1200px) {
    .solution-flex {
        width: 450px;
    }
}
@media screen and (max-width:1000px) {
        #hero{
            flex-direction: column;
        }
        .hero-main{
            margin-bottom: 5rem ;
            margin-right: 0;
        }
        .hero-main {
            width: 80%;
        }
        .hero-img {
            width: 560px;
            margin-top: 4rem;
        }
        .features {
            width: 95%;
        }
        #solution{
            flex-direction: column;
            align-items: center;
        }
        .solution-main{
            width: 700px;
            margin-right: 0;
        }
        .solution-flex{
            margin-top: 7rem;
            width: 700px;
        }
        .marketing {
            width: 720px;
        }
        #about{
            flex-direction: column;
        }
        .about {
            width: 80%;
            margin-right: 0;
        }
        .about-img {
            width: 360px;
            margin-top: 3rem;
        }
        .services-h1 {
            width: 90%;
        }
        .services {
            flex-wrap: wrap;
        }
        .services-box {
            width: 50%;
            margin: 2rem 0;
        }
        .company-box {
            width: 50%;
        }
        .company {
            width: 90%;
        }
}
@media screen and (max-width:900px) {
    
}
@media screen and (max-width:800px) {
    .solution-main{
        width: 90%;
    }
    .solution-flex{
        margin-top: 7rem;
        width: 70%;
    }
    .services-h1 h1 {
        font-size: 4rem;
    }
    .company-header {
        width: 100%;
    }
    .company-header h1 {
        font-size: 4rem;
    }
}
@media screen and (max-width:700px) {
    .hero-main h1 {
        font-size: 4rem;
    }
    .hero-img {
        width: auto;
        padding: 0 2rem;
    }
    .hero-main {
        width: 90%;
    }
    nav ul {
        width: 100%;
    }
    .marketing {
        width: auto;
    }
    .marketing-box{
        width: 90%;
    }
}
@media screen and (max-width:600px) {
    .about h1{
        font-size: 4rem;
    }
}
@media screen and (max-width:500px) {
    .hero-main-btns{
        flex-direction: column;
    }
    .hero-main-btns a:last-child{
        margin-top: 2rem;
    }
    .hero-main {
        width: 100%;
    }
    .solution-main h1{
        font-size: 3rem;
    }
    .about{
        width: 90%;
    }
    .about-img {
        width: 75%;
        margin-top: 3rem;
    }
    .services-h1 h1 {
        font-size: 3.3rem;
    }
    .services-box-circle {
        width: 150px;
        height: 150px;
    }
    .services-box-circle h1 {
        font-size: 4rem;
        color: var(--purple);
    }
    .services-box{
        width: 100%;
    }
    .quotes {
        width: 90%;
    }
    .company-img {
        width: 100px;
    }
    .company {
        width: 100%;
    }
    .company-header h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width:400px) {
    .hero-main h1 {
        font-size: 3.3rem;
    }
    .feature-box {
        width: 100%;
        height: 193px;
    }
    .solution-box-main h1 {
        font-size: 1.6rem;
    }
    .solution-box-main i {
        font-size: 2rem;
        width: 30px;
        height: 30px;
    }
    .about h1 {
        font-size: 3rem;
    }
    .solution-flex {
        width: 90%;
    }
}
@media screen and (max-width:300px) {
    
}