@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Macondo+Swash+Caps&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 1.6rem;
}
h1{
    font-size: 4rem;
}
html{
    font-size: 62.5%;
}
body{
    scroll-behavior: smooth;
}
:root{
    --green : #83EC1B ;
    --purple : #8F77F4  ;
    --black : #404040;
    --lg-white : #F2F2F2;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    border-bottom: 1px solid #f2f2f2;
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 5rem;
    position: relative;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}
.close-bar{
    width: 31px;
    height: 3px;
    background-color: #1e1e1e;
    position: absolute;
    background-color: #fff;
}
.close-bar:first-child{
    transform: rotate(45deg);
}
.close-bar:last-child{
    transform: rotate(-45deg);
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
    position: relative;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}
.hambar{
    width: 31px;
    height: 3px;
    background-color: #1e1e1e;
    position: absolute;
}
.hambar:nth-child(1){
    top: 1.8rem;
}
.hambar:nth-child(3){
    bottom: 1.8rem;
}

nav.active ul{
    left: 0;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    padding: 5rem 0;
    top: 8rem;
    left: -150%;
    background-color: #010101ae;
    height: 100vh;
    width: 500px;
    list-style: none;
    transition: all .4s ease;
}
nav ul li{
    margin: 1.5rem 0;
}
nav ul li a {
    font-size: 2rem;
    padding: 1rem 0;
    color: #fff;
}
/* Hero */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 0;
}
.hero-img{
    width: 800px;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 2.5rem;
    width: 600px;
    margin-right: 5rem;
}
.hero-main h1{
    font-size: 5rem;
}
.hero-main p{
    line-height: 2.5rem;
    margin: 2.5rem 0;
}
.hero-main-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 3rem;
}
.btn-green{
    background-color: var(--green);
    border: 4px solid var(--black);
    font-size: 1.7rem;
    color: #1e1e1e;
    padding: 1.7rem 4rem;
    border-radius: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .3s ease;
}
.btn-green:hover{
    background-color: var(--purple);
    border: 4px solid var(--purple);
    color: #fff;
}
.btn-purple{
    background-color: var(--purple);
    border: 4px solid var(--black);
    font-size: 1.7rem;
    color: #fff;
    padding: 1.7rem 4rem;
    border-radius: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .3s ease;
}
.btn-purple:hover{
    background-color: var(--green);
    border: 4px solid var(--green);
    color: #fff;
}
/* Features */
#features{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    background-color: #f2f2f2;
}
.features{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}
.feature-box{
    width: 300px;
    height: 250px;
    border-radius: 3rem;
    background-color:#fff;
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.feature-box i{
    font-size: 4rem;
}
.feature-box h1{
    font-size: 2.5rem;
    margin-top: 2rem;
}
.feature-box:nth-child(2){
    background-color: var(--green);
}
.feature-box:nth-child(4){
    background-color: var(--purple);
    color: #fff;
}
.feature-box:nth-child(6){
    background-color: var(--purple);
    color: #fff;
}
/* Solution */
#solution{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 6rem 0;
    min-height: 500px;
}
.solution-main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    width: 480px;
    padding: 0 2rem;
}
.solution-main h1{
    font-size: 5rem;
}
.solution-main p{
    margin: 2.5rem 0;
    line-height: 2.5rem;
}
.solution-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
}
.solution-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.solution-box:nth-child(2){
  margin-top: 2rem;
    
}
.solution-box:nth-child(3){
 margin-top: 2rem;
}
.solution-box-main{
    background-color: #f2f2f2;
    border-radius:  2rem;
    display: flex;
    align-items: center;
    height: 85px;
    justify-content: space-between;
    padding: 0 2rem;
    cursor: pointer;
    width: 100%;
}
.solution-box-main:hover{
    background-color: #d7d7d7;
}
.solution-box-main h1{
    font-size: 2rem;
}
.solution-box-main i{
    font-size: 2.3rem;
    background-color: var(--purple);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.solution-box-hide{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 4rem 1.5rem;
    display: none;
}
.solution-box.active .solution-box-hide{
    display: flex;
}
.solution-box.active .solution-box-main{
    background-color: var(--green);
}
.solution-box-hide p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: bold;
}
.solution-box-hide ul{
    list-style: none;
    margin-top: 3rem;
    margin-left: 2rem;
}
.solution-box-hide ul li{
    margin: 1rem 0;
    font-size: 1.6rem;
}
/* Marketing */
#marketing{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--purple);
}
.marketing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1300px;
}
.marketing-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 0 2rem;
    width: 400px;
    margin: 5rem 0;
}
.marketing-box-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;
}
.marketing-box p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #fff;
}
.marketing-box-inner h1{
    font-size: 5rem;
    color: var(--green);
}
.marketing-box-inner h2{
    font-size: 2.5rem;
    color: #fff;
    margin-left: 3rem;
}
/* About */
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}
.about{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 0 2rem;
    margin-right: 4rem;
    width: 700px;
}
.about h1{
    font-size: 5rem;
}
.about p{
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin: 2.5rem 0;
}
.about ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
}
.about ul li{
    font-size: 2rem;
    font-weight: 300;
    margin: .5rem 0;
}
.about ul li i{
    margin-right: 1rem;
    color: var(--green);
    font-size: 2rem;
}
.about-phone{
    display: flex;
    margin-top: 3rem;
}
.about-phone a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-phone i {
    font-size: 2rem;
    color: var(--purple);
    margin-right: 1rem;
}
.about-phone h3{
    color: #1e1e1e;
    font-size: 2rem;
}
.about-phone h3:hover{
    color: var(--purple);
}
.about-img{
    width: 400px;
}
.about-img img{
    width: 100%;
    height: 100%;
}
/* Services */
#services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.services-h1{
    width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5rem;
}
.services-h1 h1{
    font-size: 5rem;
    font-weight: 700;
}
.services{
    display: flex;
    align-items: flex-start;
    width: 1200px;
    justify-content: space-evenly;
}
.services-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    text-align: center;
    width: 200px;
}
.services-box-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--green);
    width: 180px;
    height: 180px;
}
.services-box-circle h1{
    font-size: 5rem;
    color: var(--purple);
}
.services-box h3{
    font-size: 2.5rem;
    margin-top: 3rem;
}
/* Quotes */
#quotes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--green);
    padding: 6rem 0;
}
.quotes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4rem;
    width: 450px;
    padding: 7rem 2.5rem;
    text-align: center;
}
.quotes i{
    font-size: 7rem;
    color: var(--purple);
}
.quotes p{
    font-size: 1.7rem;
    line-height: 3.5rem;
    font-weight: 700;
    margin: 2rem 0;
}
.quotes-btn{
    margin-top: 4rem;
    padding: 2rem 6rem;
}

.quotes-btn:hover{
    background-color: #fff;
    color: #404040;
}